{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'style/style.css' %}" rel="stylesheet" type="text/css">
 </head>
    <body>
        <h1>Introduction</h1>
        <p>
            Creating a satisfying android application is nowadays something feasible for all, both programmers 
            and non-programmers as well. This happens because developing apps in the Android Studio is one of
            the most discussed things online and you can find solutions for literally everything. Furthermore, for a 
            non-programmer's case, there are plenty of programs to create applications for Android using
            simplified programming language, in a much more accessible way for the developer and there are even
            more programs which use a graphical environment, without the need of coding!
        </p>
        <h1>Then, what does it take for an android app to be considered successful?</h1>
        <p>
            First of all, what the word successful actually means? An Android application would be characterized
            as successful if it has an amount greater than a hundred thousand downloads. When the application is
            ready and uploaded on Play Store, advertisement is the primary factor for a successful application.
        </p>
        <h1>But, what should we take into account before the application is completed?</h1>
        <p>
            Here is where a Data Scientist comes! Having a large amount of application data of Play Store can be 
            very usefull to analyse why and how some applications succeed and others do not. So, the "Google 
            Play Store App" dataset is a very good start to enable you to see things you may have to add or 
            remove in your current developing Android application! Let's start! 
        </p>
    </body>
</html>